.div1{
    width:100%;
    height:80px;
    text-align: center;
    padding-top: 10px;
    background-color: #C4D7E0;
    background-size: cover;
    font-family: 'Kaushan Script', cursive;

}
hr{
    border-top: 2px dashed grey;
}
.info{
    width: 80%;
    height:480px;
    margin-top:60px;
    margin-left:100px;   
}
.img{
    float: left;
    width:54%;
}
img{
    border-radius: 5px;
}
.content{
    margin-left: 20px;
}
.heading{
    padding-top: 20px;
    font-size:25px;
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
}
.content-main{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    
}
.btn {
    position:relative;
    top: 20px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #C9BBCF);
    background-image: -moz-linear-gradient(top, #3498db, #C9BBCF);
    background-image: -ms-linear-gradient(top, #3498db, #C9BBCF);
    background-image: -o-linear-gradient(top, #3498db, #C9BBCF);
    background-image: linear-gradient(to bottom, #3498db, #C9BBCF);
    -webkit-border-radius: 24;
    -moz-border-radius: 24;
    border-radius: 24px;
    text-shadow: 5px 5px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 22px;
    padding: 11px 20px 10px 20px;
    border: solid #B7D3DF 3px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .footer{
    width:100%;
    height: 100px;
    background-color: #C4D7E0;
    background-size: cover;
    font-family: 'Kaushan Script', cursive;

}
.date{
    float:left;
    padding-left: 100px;
    padding-top: 10px;
    font-size: 15px;
}
.time{
    float: left;
    padding-left: 350px;
    padding-top: 5px;
    font-size: 15px;
}

.author{
    float: left;
    padding-left: 400px;
    padding-top: 40px;
}